<!DOCTYPE html>
<html lang="en">
<!-- Head -->
<%- include('../partials/head') %>
<link rel="stylesheet" href="styles/main.css" >
<!-- Body -->
<body id="landing-page-body">
    <!-- Header -->
        <%- include('../partials/header') %>
    <!-- Main Section -->
        <main>
            <!-- Catch Phrase Container -->
            <section id="catch-phrase-container">
                <h2 id="catch-phrase" class="animate__animated animate__fadeIn">
                    Let's chill...
                </h2>
            </section>
            <!-- Register -->
            <div class="register-container">
                <div class="row">
                    <!-- column, med-sized screen, 1/4... off-set 4 on each side for 12 -->
                    <div class="col-md-4 offset-md-4">
                        <!-- Form -->
                        <form action="/register" method="POST">
                            <!-- Name -->
                            <div class="form-group">
                                <label for="name">
                                    Name
                                </label>
                                <input type="text" name="name" class="form-control" id="name">
                            </div>
                            <!-- Email -->
                            <div class="form-group">
                                <label for="email">
                                    Email
                                </label>
                                <input type="text" name="email" class="form-control" id="email">
                            </div>
                            <!-- Password -->
                            <div class="form-group">
                                <label for="password">
                                    Password
                                </label>
                                <input type="password" name="password" class="form-control" id="password">
                            </div>
                            <button type="submit" class="btn btn-primary float-right">Register</button>
                        </form>
                    </div>
                </div>
            </div>
        </main>
    <!-- Footer -->
        <%- include('../partials/footer') %>
</body>
</html>