<!DOCTYPE html>
<html lang="en">
<!-- Head -->
<%- include('../partials/head') %>
<link rel="stylesheet" href="styles/main.css" >
<!-- Body -->
<body id="landing-page-body">
    <!-- Header -->
        <%- include('../partials/header') %>
    <!-- Main Section -->
        <main>
            <!-- Catch Phrase Container -->
            <section id="catch-phrase-container">
                <h2 id="catch-phrase" class="animate__animated animate__fadeIn">
                    Let's chill...
                </h2>
            </section>
            <!-- Register -->

        </main>
    <!-- Footer -->
        <%- include('../partials/footer') %>
</body>
</html>