<header>
    <!-- Logo -->
    <div id="logo-container">
        <a href="/">
            <h1 id="logo">Shelter & Chill</h1>
        </a>
    </div>
    <!-- Dropdown Menu by Bootstrap CDN-->
    <nav id="nav-container">
        <div class="btn-group">
            <button class="btn btn-secondary btn-lg dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <!-- Dropdown Menu Icon -->
                <img src="https://img.icons8.com/cotton/64/000000/menu.png"/>
            </button>
            <!-- Dropdown Options -->
            <div class="dropdown-menu">
              <ul>
                  <a href="/"><li>Home</li></a>
                  <a href="/movies"><li>Movies</li></a>
                  <a href="/shows"><li>Shows</li></a>
                  <a href="/services"><li>Streaming Services</li></a>
                  <!-- Needs controller views for add favs and about usL -->
                  <a href=""><li>Add Your Favorites</li></a>
                  <a href=""><li>About Us</li></a>
              </ul>
            </div>
          </div>
	</nav>
</header>