<header>
    <!-- Logo -->
    <!-- <div id="logo-container">
        <a href="/">
            <h1 id="logo">Shelter & Chill</h1>
        </a>
    </div> -->
  <!-- NAV BAR BOOTSTRAP -->
    <nav class=" navbar navbar-expand-lg ">
      <a class="navbar-brand" href="/">Shelter & Chill</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor01" aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
  
      <div class="collapse navbar-collapse" id="navbarColor01">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item active">
            <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/movies">Movies</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/shows">Shows</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/services">Streaming Services</a>
          </li><li class="nav-item">
            <a class="nav-link" href="/add">Add Your Favorites</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/about">About Us</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/login">Login</a>
          </li>
        </ul>
      </div>
    </nav>
</header>