<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Shelter and Chill<%= (typeof title !== 'undefined')? title : ' Home' %></title>
    <script defer src="/public/js/app.js"></script>
    <link rel="stylesheet" href="/public/styles/style.css">
</head>