<!DOCTYPE html>
<html lang="en">
  <%- include('../partials/head', {title: ' - Add New'}) %>
  <body>
    <%- include('../partials/header') %>
    <h2>Add New</h2>

    <a href="/movies/new">
        <button class="add">Add new movie</button>
    </a>

    <a href="/shows/new">
        <button class="add">Add new show</button>
    </a>

    <a href="/services/new">
        <button class="add">Add new service</button>
    </a>

    <%- include('../partials/footer') %>
  </body>
</html>