<!DOCTYPE html>
<html lang="en">
  <%- include('../partials/head', {title: ' - Add New'}) %>
  <body>
    <%- include('../partials/header') %>
    <h2>Add your favs</h2>
  <main style="height: 70vh;">
    <div class="add-buttons-container" >
      <div>
        <a href="/movies/new">
            <button class="add add-movie">Add new movie</button>
        </a>
      </div>
      <div>
        <a href="/shows/new">
            <button class="add add-show">Add new show</button>
        </a>
      </div>
      <div>
        <a href="/services/new">
            <button class="add add-service">Add new service</button>
        </a>
      </div>
    </div>
  </main>
    <%- include('../partials/footer') %>
  </body>
</html>