<!DOCTYPE html>
<html lang="en">
  <%- include('../partials/head', {title: ' - Services'}) %>
  <body>
    <%- include('../partials/header') %>
    <div>
        <p>
            Marzipan tiramisu dessert lemon drops tootsie roll chocolate cake oat cake gummies pie. Cotton candy cake jelly fruitcake cake danish. Marzipan liquorice candy canes. Tiramisu marzipan topping halvah carrot cake. Oat cake icing candy canes marshmallow tart soufflé. Caramels oat cake pie brownie dragée. Icing gingerbread caramels bear claw chocolate. Chocolate bar candy chocolate bar sweet roll pastry pudding. Gummi bears biscuit cake candy canes lollipop candy donut. Croissant chocolate bar sesame snaps marshmallow sugar plum. Oat cake powder caramels candy fruitcake donut macaroon jujubes dessert. Gummies pastry sweet roll topping brownie chocolate cake bear claw wafer. Marzipan chocolate cake pastry.
        </p>
    </div>
    <div>
        <ul>
         <% service.forEach ((service) => { %>
          <li><%= service.name %> </li>
          <%})%>
        </ul>
    </div>

    <%- include('../partials/footer') %>
  </body>
</html>