<!DOCTYPE html>
<html lang="en">

    <%- include('../partials/head', {title: ' - New Movie'}) %>
    <link rel="stylesheet" href="/styles/style.css"> 

  <body>

    
    <%- include('../partials/header') %>
   
    <form action="/services" method="POST">
        <label for="name">Name:</label>
        <input type="text" id="name" name="name"/>

        <label for="price">Monthly Subscription:</label>
        <input type="number" id="price" name="price"/>

        <label for="imgUrl">Image URL:</label>
        <input type="text" id="imgUrl" name="imgUrl"/>

        <!-- <label for="movie">Movie</label>
        <select name="movieId" id="movie">
        </select>

        <label for="show">Show</label>
        <select name="showId" id="show">
        </select> -->
 
        <button type="submit">Save</button>
    </form>

    <%- include('../partials/footer') %>
  </body>
</html>
