<div class="carousel-item">
    <div class="row row-cols-1 row-cols-md-3 align-items-center c-item1 c-item-row">
        <% for(a = 0; a<movies6.length; a++) { %>
            <div class="col mb-4">
              <!-- White square -->
              <!-- <div class="carousel-card" style="background-color: blue;"> -->
                <div class="carousel-card" >
                  <a href="/movies/<%=movies6[a].id%>">
                    <img id="carousel-image" src="<%= movies6[a].imgUrl %> " alt="Chill-Movies">
                    </a>
                    <div class="card-body" >
                  </div>
                </div>
              </div>
           
        <% }; %>
      <!-- <div class="col mb-4">
        <div class="card">
          <div class="card-body">
          </div>
        </div>
      </div>

      <div class="col mb-4">
        <div class="card">
          <div class="card-body">
          </div>
        </div>
      </div>

      <div class="col mb-4">
        <div class="card">
          <div class="card-body">
          </div>
        </div>
      </div>
                
      <div class="col mb-4">
        <div class="card">
          <div class="card-body">
          </div>
        </div>
      </div>
                
      <div class="col mb-4">
        <div class="card">
          <div class="card-body">
          </div>
        </div>
      </div>
                
      <div class="col mb-4">
        <div class="card">
          <div class="card-body">
          </div>
        </div>
      </div>  -->
      
    </div>
  </div>