<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Movies Index</title>
</head>
<body>
    <h1>Movies Index</h1>

    <main>
        <% movies.forEach(movie => { %>
          <h4>
            <a href="/movies/<%= movie._id %>">
              <%= movie.name %>
            </a>
          </h4>
        <% }) %>
      </main>
    
</body>
</html>