<!DOCTYPE html>
<html lang="en">
  <%- include('../partials/head', {title: ' - Movies'}) %>
  <body>
    <%- include('../partials/header', {h1: 'Movies Index Page'}) %>
    <div>
        <p>
            Cheesecake sweet roll fruitcake gummies croissant chupa chups caramels ice cream. Danish halvah soufflé tiramisu sugar plum macaroon. Muffin oat cake soufflé danish bear claw icing pudding dessert. Sweet roll lollipop chocolate cake gingerbread cookie brownie. Oat cake chocolate bar cookie lemon drops gummies brownie pie cotton candy. Dessert cotton candy chocolate pudding biscuit jujubes. Wafer danish tootsie roll soufflé icing. Cake donut biscuit gummies macaroon chocolate fruitcake. Sweet roll candy canes donut cupcake pastry croissant biscuit ice cream. Chocolate bar soufflé oat cake cake ice cream biscuit chocolate chupa chups.
        </p>
    </div>

    <%- include('../partials/footer') %>
  </body>
</html>