<!DOCTYPE html>
<html lang="en">
  <%- include('../partials/head', {title: ` - ${movie.title}`}) %>
  <body>
    <%- include('../partials/header', {h1: `movie: ${movie.title}`}) %>
    <main>
		    <p>
            Bear claw chupa chups cookie tootsie roll caramels ice cream. Croissant gummi bears soufflé caramels pastry bonbon gummi bears bear claw gummies. Powder danish ice cream muffin pudding jelly beans powder oat cake gummies. Chupa chups chocolate cake apple pie croissant liquorice gummi bears gingerbread wafer. Wafer brownie oat cake carrot cake candy canes cake icing chupa chups gummies. Gummi bears jelly-o marzipan halvah gingerbread muffin jujubes. Jelly beans sweet donut cookie. Bear claw dessert biscuit chupa chups ice cream tiramisu pudding jelly beans lemon drops. Carrot cake donut chocolate.
        </p>
    </main>
    <%- include('../partials/footer') %>
  </body>
</html>