<!DOCTYPE html>
<html lang="en">
  <%- include('../partials/head', {title: ' - About us'}) %>
  <body>
    <%- include('../partials/header') %>
    <h2>About us</h2>
    <div class="card-container">

      
        <div class="about-card derek">
          <img src="/images/derek.jpg" alt="Derek" style="width:100%">
          <h1>Derek Oshita</h1>
          <p class="title">Jr. Full Stack Software Engeneer</p>
          <a href="https://www.linkedin.com/in/doshita/"><i class="fa fa-linkedin"></i></a>
          <a href="https://git.generalassemb.ly/derek-oshita"><i class="fa fa-github" aria-hidden="true"></i></a>
            <p><button>Contact</button></p>
        </div>

   
        <div class="about-card sky">
          <img src="/images/sky.jpg" alt="Sky" style="width:100%" >
          <h1>Sky McMahon</h1>
          <p class="title">Jr. Full Stack Software Engeneer</p>
          <a href="https://www.linkedin.com/in/sky-mcmahon/"><i class="fa fa-linkedin"></i></a>
          <a href="https://github.com/skymcmahon"><i class="fa fa-github" aria-hidden="true"></i></a>
            <p><button>Contact</button></p>
        </div>
  

    </div>



    <%- include('../partials/footer') %>
  </body>
</html>