<!DOCTYPE html>
<html lang="en">
  <%- include('../partials/head', {title: ' - About us'}) %>
  <body>
    <%- include('../partials/header') %>
    <h2>About us</h2>

    <div class="about-card derek">
      <div class="about-card">
        <img src="" alt="Derek" style="width:100%">
        <h1>Derek Oshita</h1>
        <p class="title">Jr. Full Stack Software Engeneer</p>
        <a href="#"><i class="fa fa-linkedin"></i></a>
        <a href="#"><i class="fa fa-github" aria-hidden="true"></i></a>
          <p><button>Contact</button></p>
      </div>
    </div>

    <div class="about-card sky">
      <div class="about-card">
        <img src="" alt="Sky" style="width:100%">
        <h1>Sky McMahon</h1>
        <p class="title">Jr. Full Stack Software Engeneer</p>
        <a href="#"><i class="fa fa-linkedin"></i></a>
        <a href="#"><i class="fa fa-github" aria-hidden="true"></i></a>
          <p><button>Contact</button></p>
      </div>
    </div>


    <%- include('../partials/footer') %>
  </body>
</html>