<!DOCTYPE html>
<html lang="en">
  <%- include('../partials/head', {title: ' - About us'}) %>
  <body>
    <%- include('../partials/header') %>
    <h2>About us</h2>

    <div class="about-card derek">
      <p>Does cool shit in San Francisco</p>
    </div>

    <div class="about-card sky">
        <p>Does cool shit in Utah</p>
    </div>


    <%- include('../partials/footer') %>
  </body>
</html>