#landing-page-body {
    margin: 0; 
    padding: 0; 
    box-sizing: border-box; 
    /* Gradient by Eggradients */
    background-color: #abe9cd;
    background-image: linear-gradient(315deg, #abe9cd 0%, #3eadcf 74%);    
}

/* Catch Phrase Section */

#catch-phrase-container {
    display: flex; 
    justify-content: center;
    align-items: center;
    height: 20vh; 
    width: 100vw; 
}

#catch-phrase{
    font-family: 'Source Code Pro', monospace;
    font-size: 75px; 
    color: white; 
}

/* Content Section  */

#content-container {
    display: flex; 
    justify-content: center;
    align-items: center;
    height: 70vh; 
} 

#movie-container {
    height: 70vh; 
    width: 33vw; 
    background-image: url("https://scontent-sjc3-1.xx.fbcdn.net/v/t1.0-9/107669421_3316466751726258_4331963360288332491_n.jpg?_nc_cat=109&_nc_sid=e007fa&_nc_ohc=8tONBA44eWwAX8XXxZF&_nc_ht=scontent-sjc3-1.xx&oh=5dd94e0f31cb0741fa45e34f19acc8a8&oe=5F323218");
    background-size: cover;
    border: 2px solid white; 
}

#show-container {
    height: 70vh; 
    width: 33vw; 
    background-image: url("https://scontent-sjc3-1.xx.fbcdn.net/v/t1.0-9/107846258_3316467715059495_6325520322193115497_n.jpg?_nc_cat=107&_nc_sid=e007fa&_nc_ohc=UInNa9VMAvcAX9W7Fqe&_nc_ht=scontent-sjc3-1.xx&oh=d7631f07af8006b18fb4db0516fbab92&oe=5F35DCD0");
    background-size: cover;
    border: 2px solid white; 
}

#service-container {
    height: 70vh; 
    width: 33vw; 
    background-image: url("https://scontent-sjc3-1.xx.fbcdn.net/v/t1.0-9/107804353_3316467248392875_3412387710153792460_n.jpg?_nc_cat=104&_nc_sid=e007fa&_nc_ohc=TzkG2eAyZd8AX_SJPjR&_nc_ht=scontent-sjc3-1.xx&oh=15e01a514340f4226dc1db110e201c46&oe=5F3358B3");
    background-size: cover;
    border: 2px solid white; 
}

.headline {
    color: white; 
    font-family: 'Source Code Pro', monospace;
    font-size: 75px; 
}

