/* Universal */
* {
    font-family:'Overpass', sans-serif;
    margin: 0; 
    padding: 0; 
    box-sizing: border-box; 
}

body {
    background-color: #abe9cd;
    background-image: linear-gradient(315deg, #abe9cd 0%, #3eadcf 74%);   
    background-repeat: no-repeat;
    background-size: cover; 
}

#logo {
    color: white; 
    margin: 0px 0px 0px 15px; 
}

#logo-container {
    width: 50vw; 
    display: flex; 
    justify-content: flex-start; 
    align-items: center;
}

/* #nav-container {
    width: 50vw; 
    display: flex; 
    justify-content: flex-end;
    align-items: center;
} */

.btn-group {
    margin: 0px 15px 0px 0px; 
}

.menu-item {
    text-align: center;
}

/* Unordered List */
ul {
    list-style-type: none;
    text-decoration: none;
}

/* Anchor Tags */
a {
    cursor: pointer;
}

/* LI */
li {
    text-decoration: none; 
    color: black; 
}
/* -----------------CARDS------------------- */
.card {
    width: 345px;
    height: 230px;
    display: inline-block;   
}

/* Index page for movies/shows */

#catch-phrase-container-partial {
    display: flex; 
    justify-content: center;
    align-items: center;
    height: 20vh; 
    width: 100vw; 
}

#catch-phrase-partial {
    font-family: 'Source Code Pro', monospace;
    font-size: 75px; 
    color: white; 
}


/* Show page for movies */

/* Image */

#show-movie-image-container {
    display: flex; 
    justify-content: center;
    align-items: center;
    /* Image found on pinterest: https://www.pinterest.com/pin/430023464396519373/ */
    background-image: url("https://scontent-sjc3-1.xx.fbcdn.net/v/t1.0-0/p640x640/108210711_3315306321842301_3135188879402337733_o.jpg?_nc_cat=104&_nc_sid=e007fa&_nc_ohc=FSX0wa9UjhcAX-xUdx4&_nc_ht=scontent-sjc3-1.xx&_nc_tp=6&oh=eb32fc52b968b01c259b17b072d136e5&oe=5F328260"); 
    background-size: cover;
    height: 45vh; 
}

#show-movie-image {
    width: 38vw; 
    height: 35vh;
    display: inline-block; 
    border: 2px solid #323232; 
}

/* Like / Dislike Buttons */

#show-movie-button-container {
    display: flex; 
    justify-content: center; 
    align-items: center;
    border: 1px solid #323232; 
    /* gradient by uiGradients */
    background: #000000;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #434343, #000000);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #434343, #000000); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    height: 10vh; 
}

.counters {
    width: 20vw; 
    height: 10vh; 
    display: flex; 
    justify-content: center;
    align-items: center;
}

/* Movie Details */

#movie-details-container {
    display: flex; 
    justify-content: space-around;
    align-items: center; 
    height: 35vh; 
}

#movie-details, #synopsis {
    width: 50vw; 
    height: 35vh; 
    border: 2px solid #323232; 
    text-align: center; 
    padding: 100px 0px 0px 0px; 
}

/* Streaming Services */

.streaming-services {
    display: flex; 
    justify-content: center;
    height: 6vh; 
}

.streaming-services-list {
    text-decoration: none;
}

/* Edit / Delete Button */

#edit-delete-button-container {
    display: flex; 
    justify-content: center;
}

/* Show page for Shows */

/* Image */

#show-show-image-container {
    display: flex; 
    justify-content: center;
    align-items: center;
    /* Image found on pinterest: https://www.pinterest.com/pin/430023464396519373/ */
    background-image: url("https://scontent-sjc3-1.xx.fbcdn.net/v/t1.0-0/p640x640/108210711_3315306321842301_3135188879402337733_o.jpg?_nc_cat=104&_nc_sid=e007fa&_nc_ohc=FSX0wa9UjhcAX-xUdx4&_nc_ht=scontent-sjc3-1.xx&_nc_tp=6&oh=eb32fc52b968b01c259b17b072d136e5&oe=5F328260"); 
    background-size: cover;
    height: 45vh; 
}

#show-show-image {
    width: 38vw; 
    height: 35vh;
    display: inline-block; 
    border: 2px solid #323232; 
}

/* Like / Dislike Buttons */

#show-show-button-container {
    display: flex; 
    justify-content: center; 
    align-items: center;
    border: 1px solid #323232; 
    /* gradient by uiGradients */
    background: #000000;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #434343, #000000);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #434343, #000000); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    height: 10vh; 
}

.counters {
    width: 20vw; 
    height: 10vh; 
    display: flex; 
    justify-content: center;
    align-items: center;
}

/* Show Details */

#show-details-container {
    display: flex; 
    justify-content: space-around;
    align-items: center; 
    height: 35vh; 
}

#show-details, #synopsis {
    width: 50vw; 
    height: 35vh; 
    border: 2px solid #323232; 
    text-align: center; 
    padding: 100px 0px 0px 0px; 
}

/* Streaming Services */

.streaming-services {
    display: flex; 
    justify-content: center;
    height: 6vh; 
}

.streaming-services-list {
    text-decoration: none;
}

/* Edit / Delete Button */

#edit-delete-button-container {
    display: flex; 
    justify-content: center;
}

/* -----------------FOOTER------------------- */
footer{
    /* position: fixed; */
    bottom: 0;
    text-align: center;
    /* font-size: 15px; */
    min-height: 40px;
    height: 5vh;
    /* Gradient by Eggradients */
    background-color: #abe9cd;
    background-image: linear-gradient(315deg, #abe9cd 0%, #3eadcf 74%);    
    width: 100vw;
}

footer div {
    position: relative;
    text-align: center;
    color: rgb(1, 22, 39);
    min-height: 15px;
    line-height: 5vh;
    font-weight: bold;
    font-size: medium;
}

/* -----------------HEADER------------------- */

nav.navbar {
    background-color: rgb(64, 81, 93);
}

.nav-link {
    color: rgb(150, 226, 217);
}

.navbar-brand{
    color: rgb(150, 226, 217);
}

/* -----------------ADD FAVS------------------- */

.add-buttons-container{
    width: 100%;
}
.add {
    height: 50px;
    width: 60vw;
    margin: 20px;
    display: block;
    border-radius: 5px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    align-items: center;
}

.add-movie {
    background-color: #7F8B92;
}

.add-show {
    background-color: #96E2D9;
}

.add-service {
    background-color: #BEC5C7;
}

/* -----------------ABOUT------------------- */
.card-container{
    width: 100vw;
    align-items: center;
    display: flex;
    justify-content: center;
}
.about-card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    max-width: 350px;
    min-width: 250px;
    margin: 0px 25px;
    text-align: center;
    background-size: cover;
  }
  
  .title {
    color: grey;
    font-size: 18px;
  }
  
  p button {
    border: none;
    outline: 0;
    display: inline-block;
    padding: 8px;
    color: white;
    background-color: #000;
    text-align: center;
    cursor: pointer;
    width: 100%;
    font-size: 18px;
  }
  
  .about-card a {
    text-decoration: none;
    font-size: 22px;
    color: black;
  }
  
  button:hover, a:hover {
    opacity: 0.7;
  }
#footer-text {
    color: white; 
}

/* -----------------CAROUSEL------------------- */
.carousel-inner {
    height: 70vh;
}
.carousel-item {
    height: 100%;
}

.c-item1 {
    padding: 1px;
    background-color: #40515D;
    height: 100%;
}
.c-item2 {
    padding: 1px;
    background-color: rgb(128, 0, 0);
    height: 100%;
}
.c-item3 {
    padding: 1px;
    background-color: #BEC5C7;
    height: 100%;
}

.c-item-row {
    padding: 25px;
}
