/* Universal */
* {
    font-family:'Overpass', sans-serif;
    margin: 0; 
    padding: 0; 
    box-sizing: border-box; 
}

/* Header */
/* header {
    background-color: steelblue; 
    display: flex; 
    height: 18vh; 
} */

#logo {
    color: white; 
    margin: 0px 0px 0px 15px; 
}

#logo-container {
    width: 50vw; 
    display: flex; 
    justify-content: flex-start; 
    align-items: center;
}

/* #nav-container {
    width: 50vw; 
    display: flex; 
    justify-content: flex-end;
    align-items: center;
} */

.btn-group {
    margin: 0px 15px 0px 0px; 
}

.menu-item {
    text-align: center;
}

/* Unordered List */
ul {
    list-style-type: none;
    text-decoration: none;
}

/* Anchor Tags */
a {
    cursor: pointer;
}

/* LI */
li {
    text-decoration: none; 
    color: black; 
}

.card {
    width: 345px;
    height: 230px;
    display: inline-block;   
}

/* Show page for movies */

#show-movie-image-container {
    display: flex; 
    justify-content: center;
    /* Image found on pinterest: https://www.pinterest.com/pin/430023464396519373/ */
    background-image: url("https://scontent-sjc3-1.xx.fbcdn.net/v/t1.0-0/p640x640/108210711_3315306321842301_3135188879402337733_o.jpg?_nc_cat=104&_nc_sid=e007fa&_nc_ohc=FSX0wa9UjhcAX-xUdx4&_nc_ht=scontent-sjc3-1.xx&_nc_tp=6&oh=eb32fc52b968b01c259b17b072d136e5&oe=5F328260"); 
    background-size: cover;
}

#show-movie-image {
    width: 445px;
    height: 330px;
    display: inline-block; 
    border: 2px solid #323232; 
}