<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Show Movie</title>
</head>
<body>
    <h1>Show show</h1>
    <section>
        <h2><%= show.name %></h2>
        <form style="display: inline;" action="/shows/<%= show._id %>?_method=DELETE" method="POST">
            <button type="submit">Delete</button>
          </form>
    </section>
</body>
</html>